:root{
    --background: #374B4A;
    --secondBackground: #526760;
    --primary: #a5a5c9;
    --secondary: #88D9E6;
    --accent: #C5FFFD;
}

*{
    color: white !important;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#dice_txt{
    font-weight: 350;
    transform: translateY(60px);
}

#dice_number{
    font-size: 72px;
}

#dice{
    text-align: center;
    transition: .5s;
    opacity: 0;
    transform: scale(0,0);
}

#dice.active{
    opacity: 1;
    transform: scale(1,1);
}

.primary{
    color: var(--primary) !important;
}

.primary_bg{
    color: var(--secondary) !important;
}

.navbar-brand{
    margin-left: 15px;
}

body{
    background-color: var(--background) !important;
}